version: "3.9"

services:
  elasticsearch:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
    build:
      context: ./elasticsearch
    container_name: elasticsearch
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - .:/apps/elasticsearch
    networks:
      - researchshare-net
    ports:
      - "9200:9200"

  backend:
    build:
      context: .
    ports:
      - "3000:3000"
    networks:
      - researchshare-net
    env_file:
      - backend.env
    init: true
    restart: on-failure

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    networks:
      - researchshare-net
    volumes:
      - researchshare-db:/var/lib/postgresql/data
    env_file:
      - db.env
    restart: on-failure

volumes:
  elasticsearch-data:
  researchshare-db:
networks:
  researchshare-net:

